<!DOCTYPE html>
<!--
    Name: GoodGames - Game Portal / Store HTML Template
    Version: 1.4.1
    Author: nK
    Website: https://nkdev.info/
    Purchase: https://themeforest.net/item/goodgames-portal-store-html-gaming-template/17704593?ref=_nK
    Support: https://nk.ticksy.com/
    License: You must have a valid license purchased only from ThemeForest (the above link) in order to legally use the theme for your project.
    Copyright 2018.
-->

<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <title>MGM Esports & Gaming</title>

   <meta name="description" content="Esports and gaming community in Montgomery, AL.">
   <meta name="keywords" content="game, gaming, Montgomery, MGM">

   <link rel="icon" type="image/png" href="assets/images/favicon.png">

   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- START: Styles -->

   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:400,700" rel="stylesheet"
      type="text/css">

   <!-- Bootstrap -->
   <link rel="stylesheet" href="assets/vendor/bootstrap/dist/css/bootstrap.min.css">

   <!-- FontAwesome -->
   <script defer src="assets/vendor/fontawesome-free/js/all.js"></script>
   <script defer src="assets/vendor/fontawesome-free/js/v4-shims.js"></script>

   <!-- IonIcons -->
   <link rel="stylesheet" href="assets/vendor/ionicons/css/ionicons.min.css">

   <!-- Flickity -->
   <link rel="stylesheet" href="assets/vendor/flickity/dist/flickity.min.css">

   <!-- Photoswipe -->
   <link rel="stylesheet" type="text/css" href="assets/vendor/photoswipe/dist/photoswipe.css">
   <link rel="stylesheet" type="text/css" href="assets/vendor/photoswipe/dist/default-skin/default-skin.css">

   <!-- Seiyria Bootstrap Slider -->
   <link rel="stylesheet" href="assets/vendor/bootstrap-slider/dist/css/bootstrap-slider.min.css">

   <!-- Summernote -->
   <link rel="stylesheet" type="text/css" href="assets/vendor/summernote/dist/summernote-bs4.css">

   <!-- GoodGames -->
   <link rel="stylesheet" href="assets/css/goodgames.css">

   <!-- Custom Styles -->
   <link rel="stylesheet" href="assets/css/custom.css">

   <!-- END: Styles -->

   <!-- jQuery -->
   <script src="assets/vendor/jquery/dist/jquery.min.js"></script>


</head>


<!--
    Additional Classes:
        .nk-page-boxed
-->

<body>
   <!--
    Additional Classes:
        .nk-header-opaque
-->
   <header class="nk-header nk-header-opaque">



      <!-- START: Top Contacts -->
      <div class="nk-contacts-top">
         <div class="container">
            <div class="nk-contacts-left">
               <ul class="nk-social-links">
                  <li><a target="_blank" class="nk-social-discord" href="https://discord.gg/SaHf9YR"><span
                           class="fab fa-discord"></span></a></li>
                  <li><a target="_blank" class="nk-social-twitch" href="https://www.twitch.tv/mgmesportsandgaming"><span
                           class="fab fa-twitch"></span></a></li>
                  <li><a target="_blank" class="nk-social-facebook" href="https://www.facebook.com/MGMEandG/"><span
                           class="fab fa-facebook"></span></a></li>
                  <li><a target="_blank" class="nk-social-slack"
                        href="https://join.slack.com/t/mgmesportsandgaming/shared_invite/enQtNzcwMzY4NzkxNTM2LTlmNDljNjI0MWVlMzViNDQ1ODdlYWUyNjU3NjIzMWFmZjkwOTAyZjA4YzhlNDc5MzE4MzBjOWM1ZjJhZjNmOTk"><span
                           class="fab fa-slack"></span></a></li>
                  <li><a target="_blank" class="nk-social-twitter" href="https://twitter.com/MGM_E_and_G"
                        target="_blank"><span class="fab fa-twitter"></span></a></li>
                  <li><a target="_blank" class="nk-social-instagram"
                        href="https://www.instagram.com/mgmesportsandgaming"><span class="fab fa-instagram"></span></a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <!-- END: Top Contacts -->



      <!--
        START: Navbar

        Additional Classes:
            .nk-navbar-sticky
            .nk-navbar-transparent
            .nk-navbar-autohide
    -->
      <nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-autohide">
         <div class="container">
            <div class="nk-nav-table">

               <a href="index.html" class="nk-nav-logo">
                  <img src="assets/images/MGMlogo.PNG" alt="MGM eSports and Gaming Logo" width="199">
               </a>

               <ul class="nk-nav nk-nav-right d-none d-lg-table-cell" data-nav-mobile="#nk-nav-mobile">
                  <li class="nk-drop-item">
                  <li>
                     <a href="#about">
                        About
                     </a>
                  </li>
                  <li>
                     <a href="#events">
                        Events
                     </a>
                  </li>
                  </li>
                  <li>
                     <a href="#live-event">
                        Live Match
                     </a>
                  </li>
                  <li>
                     <a href="#gallery">
                        Gallery
                     </a>
                  </li>
                  <li>
                     <a href="#contact">
                        Contact Us
                     </a>
                  </li>
               </ul>
               <ul class="nk-nav nk-nav-right nk-nav-icons">

                  <li class="single-icon d-lg-none">
                     <a href="#" class="no-link-effect" data-nav-toggle="#nk-nav-mobile">
                        <span class="nk-icon-burger">
                           <span class="nk-t-1"></span>
                           <span class="nk-t-2"></span>
                           <span class="nk-t-3"></span>
                        </span>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <!-- END: Navbar -->

   </header>



   <!--
    START: Navbar Mobile

    Additional Classes:
        .nk-navbar-left-side
        .nk-navbar-right-side
        .nk-navbar-lg
        .nk-navbar-overlay-content
-->
   <div id="nk-nav-mobile" class="nk-navbar nk-navbar-side nk-navbar-right-side nk-navbar-overlay-content d-lg-none">
      <div class="nano">
         <div class="nano-content">
            <a href="index.html" class="nk-nav-logo">
               <img src="assets/images/logo.png" alt="" width="120">
            </a>
            <div class="nk-navbar-mobile-content">
               <ul class="nk-nav">
                  <!-- Here will be inserted menu from [data-mobile-menu="#nk-nav-mobile"] -->
               </ul>
            </div>
         </div>
      </div>
   </div>
   <!-- END: Navbar Mobile -->

   <div class="nk-main">

      <div class="nk-gap-2"></div>


      <div class="container">
         <!-- START: Image Slider -->
         <div class="nk-image-slider" data-autoplay="8000">
            {% for sliderItem in site.data.slider %}
            <div class="nk-image-slider-item">
               <img src="assets/images/{{ sliderItem.sliderImage }}" alt="{{ sliderItem.sliderImageAlt }}"
                  class="nk-image-slider-img" data-thumb="assets/images/{{ sliderItem..thumbnailImage }}">
               <div class="nk-image-slider-content">
                  <h3 class="h4">{{ sliderItem.header }}</h3>
                  <p class="text-white">{{ sliderItem.paragraphText }}</p>
                  <a href="{{ sliderItem.eventLink }}"
                     class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">Register</a>
               </div>
            </div>
            {% endfor %}
         </div>
         <!-- END: Image Slider -->

         <!-- START: Latest News -->
         <div id="events" class="nk-gap-2"></div>
         <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Latest</span> Events</span></h3>

         <div class="nk-news-box">
            <div class="nk-news-box-list">
               <div class="nano">
                  <div class="nano-content">
                     {% for event in site.data.events %}
                     <div class="nk-news-box-item nk-news-box-item-active">
                        <div class="nk-news-box-item-img">
                           <img src="assets/images/{{ event.thumbnailImage }}" alt="{{ event.flyerImageAlt }}">
                        </div>
                        <img src="assets/images/{{ event.flyerImage }}" alt="" class="nk-news-box-item-full-img">
                        <h3 class="nk-news-box-item-title">{{ event.header }}</h3>

                        <span class="nk-news-box-item-categories">
                           <span class="bg-main-4">{{ event.gameCategory }}</span>
                        </span>

                        <div class="nk-news-box-item-text">
                           <p>{{ event.paragraphText }}</p>
                           <a href="{{ event.eventLink }}" class="nk-news-box-item-more">>Register</a>
                        </div>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeu5IqVa3sZKDSDnqarBiWBiQOtD_bIqeEzzKeHOTfpJB3t7w/viewform" class="nk-news-box-item-url">
                           Register</a>
                        <div class="nk-news-box-item-date"><span class="fa fa-calendar"></span>{{ event.eventDate }}
                        </div>
                     </div>
                     {% endfor %}

                  </div>
               </div>
            </div>
            <div class="nk-news-box-each-info">
               <div class="nano">
                  <div class="nano-content">
                     <!-- There will be inserted info about selected news-->
                     <div class="nk-news-box-item-image">
                        <img src="assets/images/post-1.jpg" alt="">
                        <span class="nk-news-box-item-categories">
                           <span class="bg-main-4">MMO</span>
                        </span>
                     </div>
                     <h3 class="nk-news-box-item-title">Smell magic in the air. Or maybe barbecue</h3>
                     <div class="nk-news-box-item-text">
                        <p>With what mingled joy and sorrow do I take up the pen to write to my dearest friend! Oh, what
                           a change between to-day and yesterday! Now I am friendless and alone...</p>
                     </div>
                     <div class="nk-news-box-item-date">
                        <span class="fa fa-calendar"></span> Sep 18, 2018
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- END: Latest Event -->

         <!-- START: Categories -->
         <div class="nk-gap-2"></div>
         <div class="row vertical-gap">
            <div class="col-lg-4">
               <div class="nk-feature-1">
                  <div class="nk-feature-icon">
                     <span class="ion-calendar"></span>
                  </div>
                  <div class="nk-feature-cont">
                     <h3 class="nk-feature-title"><a href="#"></a>Tournament</h3>
                     <h4 class="nk-feature-title text-main-1"><a target="_blank"
                           href="https://docs.google.com/forms/d/e/1FAIpQLSeu5IqVa3sZKDSDnqarBiWBiQOtD_bIqeEzzKeHOTfpJB3t7w/viewform">Sign Up!</a></h4>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="nk-feature-1">
                  <div class="nk-feature-icon">
                     <span class="fab fa-discord"></span>
                  </div>
                  <div class="nk-feature-cont">
                     <h3 class="nk-feature-title"><a href="#">Discord</a></h3>
                     <h4 class="nk-feature-title text-main-1"><a target="_blank" href="https://discord.gg/SaHf9YR">Join
                           Now!</a></h4>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="nk-feature-1">
                  <div class="nk-feature-icon">
                     <span class="fa fa-question-circle"></span>
                  </div>
                  <div class="nk-feature-cont">
                     <h3 class="nk-feature-title"><a href="">Survey</a></h3>
                     <h3 class="nk-feature-title text-main-1"><a target="_blank"
                           href="https://www.surveymonkey.com/r/95YMZ5F">Got Feedback?</a></h3>
                  </div>
               </div>
            </div>
         </div>
         <!-- END: Categories -->

         <!-- START: About -->

         <div class="nk-gap"></div>
         <h3 class="nk-decorated-h-2"><span><span class="text-main-1">About</span> Us</span></h3>
         <div id="about" class="row">

            <div class="col-lg-9">
               <div class="nk-box-2 bg-dark-2">
                  <h3 class="nk-decorated-h-3"><span>Who We Are</span></h3>
                  We are an organization dedicated to bringing the joy and competitiveness of esports and gaming to the
                  community of Montgomery. We specifically want to impact high school students, college students, and
                  active duty military from Maxwell and Maxwell-Gunter Air Force bases.
                  <div class="nk-gap"></div>
                  <img src="assets/images/cod_player_brief.webp" width="70%" height="60%"
                     alt="Picture of MGM_E_and_G organizers at CoD event">


                  <h3 class="nk-decorated-h-3"><span>Sponsors</span></h3>
                  <img src="assets/images/afcea.webp" width="30%" height="15%" alt="AFCEA logo">
                  <img src="assets/images/techMGMlogo.png" width="35%" height="10%" alt="TechMGM logo">

               </div>
               <div class="nk-gap"></div>

            </div>
            <div class="nk-gap"></div>

            <!-- END: About -->

            <div class="col-lg-3">
               <!--
               START: Sidebar

               Additional Classes:
                    .nk-sidebar-left
                    .nk-sidebar-right
                    .nk-sidebar-sticky
            -->
               <aside class="nk-sidebar nk-sidebar-right nk-sidebar-right">
                  <div class="nk-widget nk-widget-highlighted">
                     <h4 class="nk-widget-title"><span><span class="text-main-1">Social</span> Media</span></h4>
                     <div class="nk-widget-content">
                        <ul class="nk-social-links-3 nk-social-links-cols-3">
                           <li><a target="_blank" class="nk-social-discord" href="https://discord.gg/SaHf9YR"><span
                                    class="fab fa-discord"></span></a></li>
                           <li><a target="_blank" class="nk-social-twitch"
                                 href="https://www.twitch.tv/mgmesportsandgaming"><span
                                    class="fab fa-twitch"></span></a></li>
                           <li><a target="_blank" class="nk-social-facebook"
                                 href="https://www.facebook.com/MGMEandG/"><span class="fab fa-facebook"></span></a>
                           </li>
                           <li><a target="_blank" class="nk-social-slack"
                                 href="https://join.slack.com/t/mgmesportsandgaming/shared_invite/enQtNzcwMzY4NzkxNTM2LTlmNDljNjI0MWVlMzViNDQ1ODdlYWUyNjU3NjIzMWFmZjkwOTAyZjA4YzhlNDc5MzE4MzBjOWM1ZjJhZjNmOTk"><span
                                    class="fab fa-slack"></span></a></li>
                           <li><a target="_blank" class="nk-social-twitter" href="https://twitter.com/MGM_E_and_G"
                                 target="_blank"><span class="fab fa-twitter"></span></a></li>
                           <li><a target="_blank" class="nk-social-instagram"
                                 href="https://www.instagram.com/mgmesportsandgaming"><span
                                    class="fab fa-instagram"></span></a></li>
                        </ul>
                     </div>
                  </div>
                  <!-- <div class="nk-widget nk-widget-highlighted">
                     <h4 class="nk-widget-title"><span><span class="text-main-1">Latest</span> Video</span></h4>
                     <div class="nk-widget-content">
                        <div class="nk-plain-video" data-video="https://www.youtube.com/watch?v=vXy8UBazlO8"></div>
                     </div>
                  </div> -->
            </div>
            </aside>
            <!-- END: Sidebar -->
         </div>
         <div class="nk-gap"></div>

         <div class="nk-gap"></div>

         <!-- START: Latest Matches -->
         <h3 id="live-event" class="nk-decorated-h-2"><span><span class="text-main-1">Live</span> Match</span></h3>
         <div class="nk-gap"></div>
         <div class="row">
            <div class="col-md-12">
               {% for bracket in site.data.liveMatch %}
               <div class="responsive-embed responsive-embed-16x9">
                  <iframe src="https://challonge.com/{{ bracket.challongeID }}/module" width="100%" height="500"
                     frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
               </div>
               <div class="nk-gap"></div>

               {% endfor %}
               <div class="nk-gap"></div>
               <div class="nk-gap"></div>

               <div class="responsive-embed responsive-embed-16x9">
                  <iframe
                     src="https://player.twitch.tv/?channel=mgmesportsandgaming&parent=mgmesports.site&autoplay=false"
                     height="400" width="620" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
               </div>
            </div>
         </div>
         <div class="nk-gap"></div>
         <!-- END: Latest Matches -->

         <!-- START: Latest Pictures -->
         <div class="nk-gap"></div>
         <h2 id="gallery" class="nk-decorated-h-2 h3"><span><span class="text-main-1">Latest</span> Pictures</span></h2>
         <div class="nk-gap"></div>
         <div class="nk-popup-gallery">
            <div class="row vertical-gap">
               {% for picture in site.data.pictures %}

               <div class="col-lg-4 col-md-6">
                  <div class="nk-gallery-item-box">
                     <a href="assets/images/{{ picture.imageName }}" class="nk-gallery-item" data-size="873x567">
                        <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
                        <img src="assets/images/{{ picture.imageName }}" alt="{{ picture.imageAlt }}">
                     </a>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
         <!-- END: Latest Pictures -->


      </div>
   </div>
   </div>
   </div>

   <div class="nk-gap-4"></div>



   <!-- START: Footer -->
   <footer class="nk-footer">

      <div id="contact" class="container">
         <div class="nk-gap-3"></div>
         <div class="row vertical-gap">
            <div class="col-md-6">
               <div class="nk-widget">
                  <h4 class="nk-widget-title"><span class="text-main-1">Contact</span> Us</h4>
                  <div class="nk-widget-content">
                     <form action="https://formspree.io/chancecmontano@gmail.com" method="POST" class="nk-form">
                        <div class="row vertical-gap sm-gap">
                           <div class="col-md-6">
                              <input type="email" class="form-control required" name="email" placeholder="Email *">
                           </div>
                           <div class="col-md-6">
                              <input type="text" class="form-control required" name="name" placeholder="Name *">
                           </div>
                        </div>
                        <div class="nk-gap"></div>
                        <textarea class="form-control required" name="message" rows="5"
                           placeholder="Message *"></textarea>
                        <div class="nk-gap-1"></div>
                        <button type="submit" value="Send" class="nk-btn nk-btn-rounded nk-btn-color-white">
                           <span class="icon">Send <i class="ion-paper-airplane"></i></span>
                        </button>
                        <div class="nk-form-response-success"></div>
                        <div class="nk-form-response-error"></div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="nk-gap-3"></div>
      </div>

      <div class="nk-copyright">
         <div class="container">
            <div class="nk-copyright-left">
               Created <a href="https://bytheculture.co" target="_blank">By The Culture</a>
            </div>
            <div class="nk-copyright-right">
               <ul class="nk-social-links-2">
                  <li><a target="_blank" class="nk-social-discord" href="https://discord.gg/SaHf9YR"><span
                           class="fab fa-discord"></span></a></li>
                  <li><a target="_blank" class="nk-social-twitch" href="https://www.twitch.tv/mgmesportsandgaming"><span
                           class="fab fa-twitch"></span></a></li>
                  <li><a target="_blank" class="nk-social-facebook" href="https://www.facebook.com/MGMEandG/"><span
                           class="fab fa-facebook"></span></a></li>
                  <li><a target="_blank" class="nk-social-slack"
                        href="https://join.slack.com/t/mgmesportsandgaming/shared_invite/enQtNzcwMzY4NzkxNTM2LTlmNDljNjI0MWVlMzViNDQ1ODdlYWUyNjU3NjIzMWFmZjkwOTAyZjA4YzhlNDc5MzE4MzBjOWM1ZjJhZjNmOTk"><span
                           class="fab fa-slack"></span></a></li>
                  <li><a target="_blank" class="nk-social-twitter" href="https://twitter.com/MGM_E_and_G"
                        target="_blank"><span class="fab fa-twitter"></span></a></li>
                  <li><a target="_blank" class="nk-social-instagram"
                        href="https://www.instagram.com/mgmesportsandgaming"><span class="fab fa-instagram"></span></a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </footer>
   <!-- END: Footer -->


   </div>




   <!-- START: Page Background -->

   <img class="nk-page-background-top" src="assets/images/bg-top-2.png" alt="">
   <!-- <img class="nk-page-background-bottom" src="assets/images/bg-bottom.png" alt=""> -->

   <!-- END: Page Background -->


   <!-- START: Scripts -->

   <!-- Object Fit Polyfill -->
   <script src="assets/vendor/object-fit-images/dist/ofi.min.js"></script>

   <!-- GSAP -->
   <script src="assets/vendor/gsap/src/minified/TweenMax.min.js"></script>
   <script src="assets/vendor/gsap/src/minified/plugins/ScrollToPlugin.min.js"></script>

   <!-- Popper -->
   <script src="assets/vendor/popper.js/dist/umd/popper.min.js"></script>

   <!-- Bootstrap -->
   <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

   <!-- Sticky Kit -->
   <script src="assets/vendor/sticky-kit/dist/sticky-kit.min.js"></script>

   <!-- Jarallax -->
   <script src="assets/vendor/jarallax/dist/jarallax.min.js"></script>
   <script src="assets/vendor/jarallax/dist/jarallax-video.min.js"></script>

   <!-- imagesLoaded -->
   <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

   <!-- Flickity -->
   <script src="assets/vendor/flickity/dist/flickity.pkgd.min.js"></script>

   <!-- Photoswipe -->
   <script src="assets/vendor/photoswipe/dist/photoswipe.min.js"></script>
   <script src="assets/vendor/photoswipe/dist/photoswipe-ui-default.min.js"></script>

   <!-- Jquery Validation -->
   <script src="assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>

   <!-- Jquery Countdown + Moment -->
   <script src="assets/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
   <script src="assets/vendor/moment/min/moment.min.js"></script>
   <script src="assets/vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>

   <!-- Hammer.js -->
   <script src="assets/vendor/hammerjs/hammer.min.js"></script>

   <!-- NanoSroller -->
   <script src="assets/vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>

   <!-- SoundManager2 -->
   <script src="assets/vendor/soundmanager2/script/soundmanager2-nodebug-jsmin.js"></script>

   <!-- Seiyria Bootstrap Slider -->
   <script src="assets/vendor/bootstrap-slider/dist/bootstrap-slider.min.js"></script>

   <!-- Summernote -->
   <script src="assets/vendor/summernote/dist/summernote-bs4.min.js"></script>

   <!-- nK Share -->
   <script src="assets/plugins/nk-share/nk-share.js"></script>

   <!-- GoodGames -->
   <script src="assets/js/goodgames.min.js"></script>
   <script src="assets/js/goodgames-init.js"></script>
   <!-- END: Scripts -->



</body>

</html>
